body {
    background-color: whitesmoke;
    color: black;
}

#game-title {
    margin: auto;
    padding: 30px 30px;
    color: black;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 65pt;
}

#start {
    margin: auto;
    padding: 15px 32px;
    background-color: #24282d;
    color: white;
    border: none;
    text-align: center;
    font-size: 18pt;
    display: block;
}

#count-down {
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 26pt;
    color: black;
}

#questions {
    margin: auto;
    margin-left: 30%;
}

img {
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px 10px;
    display: block;
    align-content: center;
    width: 100px;
    height: 100px;
}

#score-screen {
    margin: auto;
    text-align: center;
}